* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: arial;
}
html,
body {
  padding: 20px 0;
}
body {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}
hr {
  border-top: 1px solid #dcdcdc;
  margin: 20px 0;
}
.Activity__area {
  position: relative;
}
.Activity__area .counters {
  width: 70px;
  height: 360px;
  display: inline-block;
}
.Activity__area .counter {
  width: 25px;
  height: 25px;
  background: #f00;
  display: block;
  border-radius: 50%;
  margin: 10px;
  cursor: move;
}
.Activity__area .block {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #c3b49b;
  vertical-align: bottom;
  text-align: center;
}
.Activity__area .block .counter {
  float: left;
  margin: 12px 5px;
}
.Activity__area .block.operator,
.Activity__area .block.number {
  line-height: 150px;
  font-size: 7em;
  font-weight: 700;
}
.Activity__area .block.operator button,
.Activity__area .block.number button {
  font-size: 1em;
  line-height: 90px;
  height: 85px;
  width: 100px;
  font-weight: 700;
  background: #bcbdc0;
  border-radius: 20px;
  cursor: pointer;
}
.Activity__area .block.operator {
  background: none;
}
.message {
  background: #ff0;
  position: absolute;
  top: 50px;
  left: 100px;
  padding: 20px;
  max-width: 160px;
  border-radius: 20px;
}
.message.first::after,
.message.first::before {
  display: block;
  position: absolute;
  bottom: -50px;
  left: 50px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid #ff0;
  content: " ";
}
.message.first::before {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 50px solid #ff0;
  top: 50px;
  left: -60px;
  bottom: auto;
}
.message.second {
  left: auto;
  right: 320px;
  top: 60px;
}
.message.second::after {
  display: block;
  position: absolute;
  bottom: -80px;
  left: 80px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid #ff0;
  content: " ";
}
.result {
  padding: 50px 0;
  text-align: center;
  font-size: 3em;
  display: none;
}
.result.correct {
  color: #008000;
  display: block;
}
.result.correct::before {
  content: "Correct!";
}
.result.incorrect {
  color: #f00;
  display: block;
}
.result.incorrect::before {
  content: "Incorrect!";
}
